body{text-align: center; background-color: rgb(236, 236, 221);
}

h1{border: 3px solid black; padding: 20px; display: inline-block;
background-color: white;}

h2{margin: 15px;}

button{background-color: white; width: 200px; height: 150px;
     font-size: 200%; margin-bottom: 10px;}